.heading-large {
  font-size: 18px;
  font-weight: 500;
}
.heading {
  font-size: 16px;
  font-weight: 500;
}
.heading-small {
  font-size: 14px;
  font-weight: 500;
}
.divided-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px
}